@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Messiri';
  src: url('./fonts/ElMessiri-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('./fonts/Merienda-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-font{
  font-family: 'Messiri';
}

.custom-font2{
  font-family: 'Merienda';
}

body {
  color: var(--foreground);
  background: var(--background);
}

html[dir="rtl"] {
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

.PhoneInput input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
