@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Merienda:wght@300..900&family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'El Messiri';
  src: url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700') format('opentype');
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900') format('opentype');
  font-weight: 300 900;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html[dir="rtl"] {
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

.custom-font{
  font-family: 'El Messiri', Arial, Helvetica, sans-serif;
}

.custom-font2{
  font-family: 'Merienda', Arial, Helvetica, sans-serif;
}

.PhoneInput input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
