@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

html[dir="rtl"] {
  direction: rtl;
}

html {
  scroll-behavior: smooth;
}

.PhoneInput input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
